/*  your css code here. If applicable */
.selector:nth-child(2){
	color:rgb(0, 0, 255);
	background-color:rgb(238, 238, 238);
	font-family:arial;
	font-size:20px;
}
.selector:nth-child(4){
	color:rgb(0, 0, 255);
	background-color:rgb(238, 238, 238);
	font-family:arial;
	font-size:20px;
}